<div class="grid-container">
	<div class="grid-x grid-margin-x align-middle">
        <div class="cell medium-5 text-center {{ page.header.image_classes }} {{ page.header.image_left ? '':'medium-push-7' }}">
            {{ page.media[page.header.image].resize(500,500).html("image for " ~ page.title, "image for " ~ page.title)|raw }}
        </div>
        <div class="cell medium-7 {{ page.header.image_left ? '':'medium-pull-5' }}">
            {% include "partials/box.html.twig" with {
                "title": page.title,
                "title_classes": page.header.title_classes,
                "content_classes": page.header.content_classes,
                "content": page.content
            } only %}
        </div>
	</div>
</div>