{% extends "modular/base.html.twig" %}

{% block module_content %}
    <p class="text-center">Veillez visiter notre centre à travers quelques images</p>
    {% include "partials/image-grid.html.twig" %}
{% endblock %}