{% do assets.add("partners", 80) %}
{% set data = [] %}
{% set countries_iso_3 = [] %}

{% for item in page.collection %}
    {% if item.header.lat and item.header.lon %}
        {% set data = data|merge([{
            name: item.title,
            acronym: item.header.acronym,
            url: item.routable ? item.url : "",
            lat: item.header.lat,
            lon: item.header.lon,
            classes: item.routable ? "" : "map-icon--inactive",
            flag: item.header.flag,
            country: item.header.country,
        }]) %}

        {% set countries_iso_3 = countries_iso_3|merge([item.header.iso_3|upper]) %}
    {% endif %}
{% endfor %}

<script type="text/javascript">
    var markers = {{ data|json_encode|raw }};
    var countries_iso_3 = {{ countries_iso_3|json_encode|raw }}
</script>

<div class="grid-container align-center">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell medium-10">
            <div id="partner-map" class="map-container"></div>
        </div>
    </div>
</div>