{# partials/card-container.html.twig #}
<div class="grid-container">
    <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-{{ columns|default(2) }} align-center">
        {% for item in items %}
            <div class="cell display-flex small-12 medium-6 large-{{ 12 / columns }} mb-2">
                {% include 'partials/card.html.twig' with {
                    icon: item.icon,
                    heading: item.heading,
                    content: item.content,
                    classes: 'full-height'
                } %}
            </div>
        {% endfor %}
    </div>
</div>