
<div class="foot-menu">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            {# <div class="cell medium-4 text-center mt-2 mb-2">{{ media["theme://images/logo.png"].cropResize(75,75).quality(100).html("CCL Center logo", "CCL Center logo")|raw }}</div> #}
            <div class="cell medium-4 text-center mt-2 mb-2 copyright">@Copyright CCL-Center</div>
            <div class="cell medium-8 mt-2 mb-2">
                <nav class="foot-nav" role="navigation">
                    <ul class="menu align-center">
                        {% for item in page.find("/").header.foot_nav %}
                            {% set p = page.find(item.url) %}
                            {% if p %}
                                <li><a href="{{ p.url }}" class="foot-nav__link">{{ p.menu|raw }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>