<div class="hero-wrapper">
    {% if page.header.type == "home"  %}
        <div class="swiper hero-slider">
            <div class="swiper-wrapper">
                {% for item in page.header.hero_images %}
                    {% set image = item.img %}

                    <div class="swiper-slide">
                        <div class="hero-slider-image" style="background-image:url('{{ page.media[image].url }}');">
                            <div class="hero-text"><span class="wow bounceInUp" data-wow-delay="1.5s">{{ item.text|raw }}</span></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {% set image = page.header.hero_image|default("theme://images/school_opening.jpg") %}

        <div class="hero-image" style="background-image:url('{{ page.media[image].url }}');">
            {# <div class="hero-text">{{ item.text|raw }}</div> #}
        </div>

    {% endif %}
</div>