<noscript class="no-js-info">
    <div class="text-center bg-alert text-white pt-2 pb-2">
        This website needs JavaScript to work properly. Please activate JavaScript on your browser.
    </div>
</noscript>
