<div class="side-navigation">
    <a href="https://www.facebook.com/events/1978676729346670/?app=fbl" target="_blank" class="first" rel="nofollow noopener noreferrer">
        <div class="holder">
            <i class="fa fa-facebook" aria-hidden="true"></i> 
            <span>Follow us on Facebook</span>
        </div>
    </a>
    {# <a href="https://www.instagram.com/" target="_blank" class="second" rel="nofollow noopener noreferrer">
        <div class="holder">
            <i class="fa fa-instagram" aria-hidden="true"></i> 
            <span>Follow us on Instagram</span>
        </div>
    </a> #}
    <a href="https://www.tiktok.com/@ccl.center?_r=1&_t=ZG-93RdzQx74fg" target="_blank" class="third" rel="nofollow noopener noreferrer">
        <div class="holder">
            <i class="fa-brands fa-tiktok" aria-hidden="true"></i> 
            <span>Follow us on TikTok</span>
        </div>
    </a>
</div>