<div class="side-navigation">
    <a href="https://www.linkedin.com/company/101459590/admin/feed/posts/" target="_blank" class="first" rel="nofollow noopener noreferrer">
        <div class="holder">
            <i class="fa fa-linkedin" aria-hidden="true"></i> 
            <span>Follow us on LinkedIn</span>
        </div>
    </a>
    <a href="https://www.instagram.com/voice_community_/" target="_blank" class="second" rel="nofollow noopener noreferrer">
        <div class="holder">
            <i class="fa fa-instagram" aria-hidden="true"></i> 
            <span>Follow us on Instagram</span>
        </div>
    </a>
</div>