
<div class="{{ container_classes|default('bg-primary mb-6') }}">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell text-center">
                <h2 class="{{ title_classes|default('mb-0 pt-3 pb-3') }}">{{ title }}</h2>
            </div>
        </div>
    </div>
</div>