@charset 'UTF-8';

@import
    'abstracts/variables',
    '~foundation-sites/scss/foundation',
    '~leaflet/dist/leaflet.css';

$map-container-heights: (
    'small': 350px,
    'medium': 500px,
    'large': 550px,
) !default;
$map-container-background-color: $white !default;
$map-container-border-radius: $global-radius !default;
$map-icon-background-color: darken(get-color('quaternary'), 5%) !default;
$map-icon-inactive-background-color: get-color('primary') !default;
$map-icon-border-color: rgba(darken($map-icon-background-color, 5%), 0.9) !default;
$map-icon-shadow-color: $map-icon-border-color !default;
$map-icon-opacity: 1.0 !default;
$map-tooltip-color: $map-container-background-color !default;
$map-tooltip-background-color: get-color('primary') !default;
$map-tooltip-border-color: $map-tooltip-background-color !default;


.map-container {
    margin-bottom: $global-lineheight;
    border: solid 1px get-color("secondary");

    @each $breakpoint, $height in $map-container-heights {
        @include breakpoint($breakpoint) {
            height: $height;
        }
    }
}


.map-icon {
    border: 1px solid $map-icon-border-color;
    border-radius: 50%;
    background-color: $map-icon-background-color;
    box-shadow: 0 0 2px $map-icon-shadow-color;
    opacity: $map-icon-opacity;

    &--inactive {
        background-color: $map-icon-inactive-background-color;
        cursor: default;
    }
}

.map-info {
    border: 2px solid rgba($secondary-color, 0.8);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    width: 200px;
    background-color: rgba(darken($map-container-background-color, 22%), 0.85);
}


// Leaflet overrides
.leaflet {
    &-container {
        font-size: rem-calc($global-font-size - 3);
        font-family: $body-font-family;
        background-color: $map-container-background-color;
    }

    &-pane {
        z-index: 0;
    }

    &-top {
        z-index: 1;
    }

    &-control-zoom {
        z-index: 1;
    }

    &-tooltip {
        color: $map-tooltip-color;
        border-color: $map-tooltip-border-color;
        background-color: $map-tooltip-background-color;

        @each $direction in ('top', 'bottom', 'left', 'right') {
            &-#{$direction} {
                &:before,
                &:after {
                    border-#{$direction}-color: $map-tooltip-border-color;
                }
            }
        }
    }

    &-interactive {
        transition: all 0.2s ease;
    }
}

