@charset 'UTF-8';

@import
    '~@eurice/grav-webpack5-node18/scss/abstracts/mixins',
    'abstracts/variables';

@import
    'vendors/foundation',
    'vendors/featherlight';

@import
    'base/fonts',
    'base/font-awesome';

@import
    'layout/atsi',
    'layout/page',
    'layout/contact',
    'layout/news-events',
    'layout/box',
    'layout/explorer',
    'layout/head-nav',
    'layout/hero',
    'layout/loader',
    'layout/tables',
    'layout/jobs';

@import
    'components/accordion',
    'components/backtotop',
    'components/items_slider',
    'components/svg',
    'components/side-navigation',
    'components/flag-icon',
    'components/announcement',
    'components/footer',
    'components/faq',
    'components/countdown',
    'components/pagination',
    'components/mycard',
    'components/image-grid';

@import
    'utilities/background',
    'utilities/border',
    'utilities/color',
    'utilities/button',
    'utilities/spacing';

@import
    'themes/theme';