// -----------------------------------------------------------------------------
// Exam structure styles
// -----------------------------------------------------------------------------

.exam_structure {
    .resource {
        margin-bottom: 2.5rem;

        .image {
            padding: 1.3rem;
            border: solid 2px get-color("primary");
            border-radius: 20px;

            img {
                transition: all 0.3s ease;
            }

            &:hover {
                img {
                    transform: scale(1.04);
                }
            }
        }

        .exam_structure_text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 1.5rem;

            @include breakpoint(medium) {
                margin-top: 0;
            }
        }
    }
}
