// -----------------------------------------------------------------------------
// Hero
// -----------------------------------------------------------------------------
.hero-wrapper {
    padding-top: 9rem;

    @include breakpoint("large") {
        padding-top: 5rem;
    }

    .hero-slider-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: calc(75vh);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint("large") {
            height: calc(100vh - 5rem);
        }

        @include breakpoint("large") {
            align-items: flex-end;
        }

        .hero-text {
            // margin-top: 8rem;
            // margin-bottom: 5rem;
            display: inline-block;
            color: $white;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            position: relative;
            // bottom: 3rem;
            padding: 1rem;
            background-color: rgba(0, 0, 0, 0.7);
            text-align: center;

            @include breakpoint("large") {
                bottom: 3rem;
            }
        }
    }

    .hero-image {
        height: 17rem;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;

        // @include breakpoint("large") {
        //     background-size: 100% 100%;
        // }
    }

}