// -----------------------------------------------------------------------------
// Main page
// -----------------------------------------------------------------------------

.main {
    justify-content: space-around;
    a {
        text-align: center;
        background-color: get-color("primary");
        min-height: 18rem;
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        justify-content: center;
        position: relative;
        color: white;
        margin-top: 4rem;
        transition: 0.3s;

        &:hover {
            color: get-color("secondary");
        }

        &::before, &::after {
            position: absolute;
            content: "";
            background-color: get-color("secondary");
        }

        &::before {
            bottom: -1.5rem;
            left: -0.5rem;
            height: 5rem;
            width: 5rem;
            z-index: -1;

            @include breakpoint("medium") {
                left: -1.5rem;
            }
        }

        &::after {
            top: -2rem;
            right: -0.5rem;
            height: 8rem;
            width: 8rem;
            // z-index: -1;

            @include breakpoint("medium") {
                right: -2rem;
            }
        }
    }
}