// -----------------------------------------------------------------------------
// Styles for the partner page
// -----------------------------------------------------------------------------

.partner-list {
    .name_listing {
        margin-left: 0 !important;

        .item, button {
            padding-left: 0 !important;
            margin-bottom: 1rem;
            color: black;
            
            &:before {
                color: get-color("tertiary");
                transition: all 0.3s;
            }

            &:hover {
                color: get-color("secondary");
                cursor: pointer;
            }
        }

        .active {
            button {
                color: get-color("secondary");
                font-weight: 700;
            }

            &:before {
                color: get-color("tertiary");
                transform-origin: center;
                transform: rotate(90deg) translate(4px, 4px);
            }
        }
    }
}

.partner-box {
    line-height: normal;
    .box_title {
        text-align: left !important;
        padding: 1rem 1rem;
        font-size: 1.5rem;

        @include breakpoint("medium") {
            padding: 1rem 2rem;
        }
    }

    .box_content {
        .title {
            font-weight: 700;
        }
    }

    .links {
        a {
            color: black;

            &:hover {
                color: get-color("secondary");
            }
        }
    }

    .contact-box {
        .image {
            border: solid 2px get-color("secondary");
            border-radius: 10px;
            background-color: #e8e8e8;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                object-fit: contain;
                border-radius: 10px;
                width: 100%;
            }
        }

        .name {
            font-size: 1.4rem;
            font-weight: 700;
            color: get-color("tertiary");
            margin-top: 0.5rem;
        }

        .role {
            font-weight: 700;
            margin-top: 0.5rem;
        }

        .email {
            margin-top: 0.5rem;
        }
    }
}

.quotmark {
    position:relative;
    &:before, &:after {
        font-family:$icon-font-family;
        font-size: 55px;
        position:absolute;
        top:-30px;
        font-weight: 900;
        color: $white;
        opacity: 0.5;
    }
    &:before{
        content: '\f10e';
        left: 0;
    }
    &:after{
        content: '\f10d';
        right:0;
    }
    .quote-content {
        width: calc(100% - 2rem);

        @include breakpoint("large") {
            width: calc(100% - 5rem);
        }

        margin:auto;
        p {
            margin-bottom: 0!important;
        }
    }
}