.table-container {
    width: 80%;
    margin-inline: auto;
}

.ecl-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 1px solid get-color('grey-light');
    border-radius: 0.75rem;
    overflow: hidden; // Keeps corners rounded
    box-shadow: 0 .25rem .75rem rgba(0,0,0,0.05);

    thead {
        background: rgba(get-color('secondary'), .1);
        color: get-color('secondary');
        
        th {
            padding: 1rem;
            text-align: center;
            border: 2px solid #e0e6ed;
            font-weight: 700;
        }
    }

    tbody {
        tr {
            &:nth-child(even) { background: #fdfdfd; }
            &:hover { background: #f1f5f9; }
        }

        td {
            padding: 1rem;
            text-align: center;
            border: 1px solid #e0e6ed;
            color: #4a5568;

            &.text-bold {
                font-weight: 700;
                color: get-color('secondary');
            }
        }
    }
}

.table-footer-note {
    margin-top: 1.5rem;
    margin-inline: auto;
    padding: 1rem;
    background-color: rgba(get-color('secondary'), 0.03);
    border-left: 3px solid get-color('secondary');
    font-size: 0.9rem;
    line-height: 1.5;
}