{% extends "default.html.twig" %}

{% block content %}  
{{ page.content|raw }}
<ul class="accordion unstyled-list" data-accordion data-allow-all-closed="true">
    {% for item in page.header.items %}
        <li class="accordion-item mb-6" data-accordion-item>
            <a href="#" class="accordion-title">
                <p class="h6 mt-0 mb-0">{{ item.title|raw }}</p>
            </a>
            <div class="accordion-content" data-tab-content>
                {{ item.content|markdown|raw }}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}