{% extends "default.html.twig" %}

{% block content %}
    <div class="grid-x grid-margin-x contact align-center contact">
        <div class="cell text-center">
            {{ page.content|raw }}
        </div>
        <div class="cell">
            {% include "forms/form.html.twig" %}
        </div>
    </div>
{% endblock %}