// -----------------------------------------------------------------------------
// Side navigation layout
// -----------------------------------------------------------------------------

.side-navigation {
    position: fixed;
    bottom: 0;
    display: flex;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 99;
    a{
        margin-right: 1rem;
        display: block;
        &:last-child {
            margin-right:0;
        }
        .holder {
            background: get-color('secondary');
            color: $white;
            display: block;
            padding:10px 1rem;
            transition:0.3s;
            span {
                display: none;
            }
        }
        &:hover {
            .holder {
                background: darken(get-color('primary'), 10%);
                color: get-color("secondary");
            }
        }
    }
    @include breakpoint('medium') {
        bottom: 40%;
        right:0;
        transform: translate(0, 50%);
        display: block;
        a {
            margin-right: 0;
            position:absolute;
            left: -43px;
            width: 240px;
            transition:0.3s;
            &.first {
                top:-50px;
            }
            &.second {
                top:0;
            }
            &.third {
                top:50px;
            }
            .holder {
                span {
                    margin-left: 1rem;
                    display: inline-block;
                }
            }
            &:hover {
                left: -240px;
            } 
        }
    }
 }