/*------------------------------------*\
    #SVG (https://css-tricks.com/scale-svg/#aa-option-4-use-the-padding-bottom-hack-on-a-container)
\*------------------------------------*/

.svg-container {
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 100%; 

    svg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}
