.text-white { color: #fff !important; }
.opacity-80 { opacity: 0.85; }
.shadow { box-shadow: 0 4px 15px rgba(0,0,0,0.2); }
.no-padding-y {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}