// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------

$u-breakpoint-classes: (
    null: 'small',
    'md-': 'medium',
    'lg-': 'large',
) !default;

$u-spacing-directions: (
    't': '-top',
    'b': '-bottom',
    'l': '-left',
    'r': '-right'
) !default;

$u-spacing-sizes: 40 !default;

$u-spacing-factor: 0.5rem !default;

$u-breakpoint-properties: (
    'margin': 'm',
    'padding': 'p',
) !default;


@each $infix, $breakpoint in $u-breakpoint-classes {
    @include breakpoint($breakpoint) {
        @each $direction-namespace, $direction-rules in $u-spacing-directions {
            @for $i from 0 through $u-spacing-sizes {
                @each $prop, $abbrev in $u-breakpoint-properties {
                    .#{$infix}#{$abbrev}#{$direction-namespace}-#{$i} {
                        @each $direction in $direction-rules {
                            #{$prop}#{$direction}: $i * $u-spacing-factor !important;
                        }
                    }
                }
            }
        }
    }
}


.no-margin {
    margin: 0 !important;
}
.no-margin-v {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.no-margin-h {
    margin-inline: 0 !important;
}

.no-padding {
    padding: 0 !important;
}
.no-padding-v {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.no-padding-h {
    padding-inline: 0 !important;
}