// -----------------------------------------------------------------------------
// Application-wide Sass variables.
// -----------------------------------------------------------------------------

@import '~foundation-sites/scss/util/util';


/**
 * Foundation variables
 */
$base-font-size: 16px;
$base-line-height: 24px;

$foundation-palette: (
    'primary': #ffde59,
    'secondary': #0c334b,
    'secondary-light': #b2d8ff,
    'bodyBg': #F2F8FC,
    'tertiary': #fe6100,
    'quaternary': #fcc105,
    'alert': rgb(235, 92, 99),
    'blue': #5F5BA3,
    'pink': #DC267F,
    'orange': #FE6100,
    'grey': #ececec,
    'white': #fff,
    'grey-light': #f6f6f6,
    'dark-grey': #333,
    'black': #000000
);

@include add-foundation-colors;

$global-font-size: $base-font-size;
$global-lineheight: rem-calc($base-line-height);
$global-weight-normal: 400;
$global-weight-bold: 700;
$global-menu-padding: 0.5rem 1rem;
$global-radius: 0.25rem;

$body-font-family: 'Open Sans', sans-serif;
$icon-font-family: 'Font Awesome 6 Free';

$header-lineheight: 1.25;
$header-margin-bottom: 1rem;
$header-color: get-color('primary');
$header-styles: (
  'small': (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  'medium': (
    'h1': ('font-size': 40),
    'h2': ('font-size': 34),
    'h3': ('font-size': 28),
    'h4': ('font-size': 23),
    'h5': ('font-size': 20),
    'h6': ('font-size': 18),
  ),
);

$small-font-size: 75%;

$paragraph-margin-bottom: $global-lineheight;

$anchor-color: rgb(255 204 0);

$input-font-size: 1;
$input-border-focus: 1px solid get-color('primary');
$input-shadow: inset 0 1px 2px rgba(get-color('primary'), 0.1);
$input-shadow-focus: 0 0 5px rgba(get-color('primary'), 0.5);


$defnlist-margin-bottom: $global-lineheight;
$defnlist-term-margin-bottom: 0.125 * $global-lineheight;

$callout-border: 2px solid rgba(get-color('primary'), 0.25);

$dropdownmenu-arrow-color: white;
$dropdownmenu-border: none;
$dropdownmenu-padding: 40px 5px;
$dropdownmenu-submenu-padding: 10px;
$dropdownmenu-min-width: 200px;
$dropdown-menu-item-color-active: get-color('primary');
$menu-item-color-active: get-color('primary');
$dropdownmenu-submenu-background: get-color("secondary");

$button-color: get-color('secondary');
$button-background: get-color('secondary-light');